In [36]:
# importing required packages

import pandas as pd
import numpy as np

# reading training dataset

In [38]:
# Dividing data into training and test set features
vegas_data = pd.read_csv("../data/processed/training_ml.csv" ) 
vegas_data.head()
X = vegas_data.drop('score', axis =1)
y = vegas_data['score']

In [39]:
# fitting  Ridge regression model(regularized linearRegression)
estimator = Ridge()
param_grid = { 'alpha' : np.logspace(-6, 6, 13)
}
ridge_model = GridSearchCV(estimator, param_grid,cv=10 )
ridge_model.fit(X,y)

C:\Users\I853328\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.e-06, 1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01,
       1.e+02, 1.e+03, 1.e+04, 1.e+05, 1.e+06])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [41]:
ridge_model.cv_results_

{'mean_fit_time': array([0.0099262 , 0.0070493 , 0.00486112, 0.00481005, 0.00619705,
        0.00510685, 0.00472071, 0.0043905 , 0.00369382, 0.00587802,
        0.00577767, 0.00472708, 0.00381269]),
 'std_fit_time': array([0.00969854, 0.00641065, 0.00282779, 0.00509716, 0.00499097,
        0.0044262 , 0.00611434, 0.00380376, 0.00421216, 0.0042916 ,
        0.00138122, 0.00267976, 0.00288643]),
 'mean_score_time': array([0.00322819, 0.00253685, 0.00312707, 0.00149217, 0.00267308,
        0.00244081, 0.0033345 , 0.00290799, 0.00461736, 0.00322604,
        0.00188808, 0.0030169 , 0.00491657]),
 'std_score_time': array([0.00155836, 0.00416641, 0.00389135, 0.00183603, 0.00191976,
        0.00456584, 0.00574006, 0.00443724, 0.00590416, 0.0017458 ,
        0.00116969, 0.00277896, 0.00334659]),
 'param_alpha': masked_array(data=[1e-06, 1e-05, 0.0001, 0.001, 0.01, 0.1, 1.0, 10.0,
                    100.0, 1000.0, 10000.0, 100000.0, 1000000.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1e-06},
  {'alpha': 1e-05},
  {'alpha': 0.0001},
  {'alpha': 0.001},
  {'alpha': 0.01},
  {'alpha': 0.1},
  {'alpha': 1.0},
  {'alpha': 10.0},
  {'alpha': 100.0},
  {'alpha': 1000.0},
  {'alpha': 10000.0},
  {'alpha': 100000.0},
  {'alpha': 1000000.0}],
 'split0_test_score': array([-0.67427913, -0.67427813, -0.67426807, -0.67416753, -0.67316398,
        -0.66331974, -0.58409534, -0.39233045, -0.38901471, -0.42934768,
        -0.43645242, -0.43733299, -0.43742463]),
 'split1_test_score': array([ 0.13119171,  0.13119094,  0.13118319,  0.13110574,  0.13033187,
         0.12269054,  0.06353515, -0.04017801, -0.1716754 , -0.31702667,
        -0.35227108, -0.35660194, -0.35704698]),
 'split2_test_score': array([-0.04169296, -0.04169287, -0.04169197, -0.04168289, -0.04159239,
        -0.04071287, -0.03379704, -0.01323859, -0.00869352, -0.00672918,
        -0.00412833, -0.00373823, -0.00369742]),
 'split3_test_score': array([-0.12471082, -0.1247103 , -0.12470506, -0.12465278, -0.12413681,
        -0.11958664, -0.10007574, -0.08285959, -0.07558508, -0.07712332,
        -0.07416639, -0.07366928, -0.07361693]),
 'split4_test_score': array([-0.12164183, -0.12164131, -0.1216361 , -0.12158406, -0.12106876,
        -0.11636952, -0.09132103, -0.04954349, -0.00707774, -0.03075189,
        -0.04324631, -0.04494157, -0.04511775]),
 'split5_test_score': array([-0.02589335, -0.02589322, -0.02589195, -0.02587921, -0.02575372,
        -0.02466608, -0.0211354 , -0.00665071, -0.01637013, -0.04472308,
        -0.04245659, -0.04165739, -0.04156764]),
 'split6_test_score': array([-0.07538974, -0.07538969, -0.07538941, -0.07538661, -0.07535874,
        -0.0750959 , -0.07331794, -0.06406725, -0.02473801, -0.02275937,
        -0.03054613, -0.03185128, -0.03199004]),
 'split7_test_score': array([ 0.02815115,  0.02815153,  0.02815537,  0.02819366,  0.02856863,
         0.03162029,  0.0377238 ,  0.04943836,  0.00365976, -0.02944104,
        -0.03380143, -0.03428777, -0.03433873]),
 'split8_test_score': array([-0.26220785, -0.26220796, -0.26220908, -0.26222025, -0.26233132,
        -0.26338321, -0.27047858, -0.28705666, -0.28300189, -0.22796335,
        -0.19782752, -0.19388565, -0.19348076]),
 'split9_test_score': array([-0.31674061, -0.31673879, -0.31672063, -0.31653932, -0.3147572 ,
        -0.29957964, -0.24470457, -0.20088086, -0.12231543, -0.05100639,
        -0.02286346, -0.01913142, -0.01874577]),
 'mean_test_score': array([-0.1475745 , -0.14757414, -0.14757056, -0.14753477, -0.14718223,
        -0.14411731, -0.13110093, -0.10802121, -0.10898821, -0.12360361,
        -0.12384703, -0.12380076, -0.12379573]),
 'std_test_score': array([0.21482996, 0.21482953, 0.21482526, 0.2147826 , 0.21435861,
        0.21034478, 0.18228085, 0.13266684, 0.127587  , 0.14048718,
        0.14595002, 0.14678029, 0.14686791]),
 'rank_test_score': array([13, 12, 11, 10,  9,  8,  7,  1,  2,  3,  6,  5,  4])}

In [24]:
X.head()

,user_continentAsia,user_continentEurope,user_continentNorth.America,user_continentOceania,user_continentSouth.America,traveller_typeCouples,traveller_typeFamilies,traveller_typeFriends,traveller_typeSolo,stay_periodJun.Aug,...,tennis_courtYES,spaYES,casinoYES,free_internetYES,hotel_stars,member_years,num_reviews,helpful_votes,rooms,num_hotel_reviews
0,0,0,1,0,0,0,0,1,0,0,...,0,0,1,1,"3,0","1,5474979","-0,500805994","-0,369735026","1,2260793","-0,51037487"
1,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,"3,0","-0,4444007","1,100455277","0,883716453","1,2260793","0,25715822"
2,0,0,1,0,0,0,1,0,0,0,...,0,0,1,1,"3,0","-0,7763837","-0,130143663","-0,127131514","1,2260793","-0,28462984"
3,0,1,0,0,0,0,0,1,0,0,...,0,0,1,1,"3,0","0,5515486","-0,456326514","-0,349518067","1,2260793","-0,37492785"
4,0,1,0,0,0,1,0,0,0,0,...,0,0,1,1,"3,0","-0,1124176","0,003294776","0,297424632","1,2260793","-0,14918282"

In [25]:
X.columns

Index(['user_continentAsia', 'user_continentEurope',
       'user_continentNorth.America', 'user_continentOceania',
       'user_continentSouth.America', 'traveller_typeCouples',
       'traveller_typeFamilies', 'traveller_typeFriends', 'traveller_typeSolo',
       'stay_periodJun.Aug', 'stay_periodMar.May', 'stay_periodSep.Nov',
       'review_quarter.Q2', 'review_quarter.Q3', 'review_quarter.Q4',
       'review_day.Weekend', 'poolYES', 'gymYES', 'tennis_courtYES', 'spaYES',
       'casinoYES', 'free_internetYES', 'hotel_stars', 'member_years',
       'num_reviews', 'helpful_votes', 'rooms', 'num_hotel_reviews'],
      dtype='object')

In [26]:
X['hotel_stars']

0      3,0
1      3,0
2      3,0
3      3,0
4      3,0
      ...
373    4,0
374    4,0
375    4,0
376    4,0
377    4,0
Name: hotel_stars, Length: 378, dtype: object